<h2>About me</h2>
<p><strong>I teach the teachers.</strong> I work in higher ed IT where I do faculty development, training them in best ways to use technology in their courses and instructional design.</p>
<p>I run trainings, produce instructional media, build blended courses and support elearning applications. I also do learning experience analytics, user experience testing, knowledge management and web development. That's my 9 to 5...</p>
<p>Meanwhile, on my 5 to 9, I'm the teacher. I lead a grad course on computational skills, introducing journalism students to computer science and data science. My students use data analysis in their reporting and produce interactive visualizations for the web.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://mrsingleton.github.io/jour71105/" target="_blank">CUNY Course</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
    <a href="https://linkedin.com/in/maliksingleton/" target="_blank">Professional Profile</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://about.me/maliksingleton/" target="_blank">about.me</a>
  </li>
</ul>
