<h2>About me</h2>
<p>I teach the teachers. I work in higher ed IT and train faculty in best ways to use tech in their courses.</p>

<h2>Institutions</h2>
<ul>
  <li>NYU IT</li>
  <li>CUNY Journalism</li>
  <li>First Take</li>
</ul>

<p>My work involves instruction, instructional media, web apps, metrics analysis and knowledge management.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://mrsingleton.github.io/interactive">Interactive</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://maliksingleton.com">Malik Singleton</a>
  </li>
</ul>
