<h2>About me</h2>
<p>I teach the teachers. I work in higher ed IT and train faculty in best ways to use tech in their courses.</p>

<h2>Affiliations</h2>
<ul>
  <li><a href="https://www.nyu.edu/life/resources-and-services/information-technology.html" target="_blank">NYU IT</a></li>
  <li><a href="http://www.journalism.cuny.edu" target="_blank">CUNY Journalism</a></li>
  <li><a href="http://www.firsttakenyc.com/" target="_blank">First Take</a></li>
</ul>

<p>I teach multiple levels -- grad school courses and high school workshops.</p>
<p>My work involves education technology, support and solutions, instructional media, metrics analysis and knowledge management.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://mrsingleton.github.io/interactive">CUNY Course</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://about.me/maliksingleton/">about.me</a>
  </li>
</ul>
